body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}

nav {
    color: white;
    background-color: rgb(40, 132, 252);
}

.nav-containers {

    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 700;
}

.nav-img-logo {
    width: 4vh;
    height: 4vh;
}

.intro-logo {
    text-align: center;
}

.welcome-text {
    font-size: 0.91em;
}

.deal-img {
    width: 100%;
}

.carousel-item {
    max-width: 60vh;
    min-width: 10vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: auto;
}

footer {
    text-align: center;
}